<a href="https://colab.research.google.com/github/meenalj/dsnoob/blob/master/Chipotle_Exercises_and_Solutions_MJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [0]:
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [9]:
chipo.head(5)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [5]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Step 4. How many products cost more than $10.00?

In [10]:
## for number comparisons, the dtype should be float but the column has $ in it
##Cleansing the data
prices = [float(value[1 : -1]) for value in chipo.item_price]   #Value[1:-1] is a substring reading from char 1 which is 2nd character. [1:-2] removes the last decimal
chipo.item_price=prices
chipo.head(10)

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98
5         3  ...       10.98
6         3  ...        1.69
7         4  ...       11.75
8         4  ...        9.25
9         5  ...        9.25

[10 rows x 5 columns]

In [0]:
## Essentially looking for what product is greater than $10 - Looking at the data shows that there are a lot of dupes in the sense you only want item costing greter than 10 $ 
##Example is row above with index=5
chipo_dropdupes= chipo.drop_duplicates(['item_name','quantity'])

In [15]:
## Now, from the data, it looks like the item_price is actually order price and not price per item.This would mean, to find a product costing greater than $10, you need quantity =1
chipo_one_product = chipo_dropdupes[chipo_dropdupes.quantity == 1]
chipo_one_product.head(10)

    order_id  ...  item_price
0          1  ...        2.39
1          1  ...        3.39
2          1  ...        3.39
3          1  ...        2.39
5          3  ...       10.98
6          3  ...        1.69
7          4  ...       11.75
8          4  ...        9.25
10         5  ...        4.45
11         6  ...        8.75

[10 rows x 5 columns]

In [25]:
#Based on the final one product only dataset, you can now choose the product with cost greater than 10$- Example index 7
chipo_one_product[chipo_one_product.item_price>10]
chipo_one_product # this gives dupes too
print chipo_one_product[chipo_one_product.item_price>10].item_name.unique() # THis gives names
chipo_one_product[chipo_one_product.item_price>10].item_name.nunique() #This gives count

['Chicken Bowl' 'Steak Burrito' 'Barbacoa Bowl' 'Veggie Burrito'
 'Veggie Bowl' 'Barbacoa Crispy Tacos' 'Veggie Salad Bowl' 'Chicken Salad'
 'Steak Salad Bowl' 'Veggie Soft Tacos' 'Carnitas Salad Bowl'
 'Barbacoa Salad Bowl']

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [46]:
# In this case again, you need to drop dupes, filter for quantity 1
print chipo.count()
chipo_dropdupes_2= chipo.drop_duplicates(['item_name'])
print chipo_dropdupes_2.count()
chipo_dropdupes_2.head(10)
chipo_subset=chipo_dropdupes_2[['item_name','item_price']]
print chipo_subset.sort_values(by='item_name')

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64
order_id              50
quantity              50
item_name             50
choice_description    38
item_price            50
dtype: int64
                                  item_name  item_price
298                       6 Pack Soft Drink        6.49
39                            Barbacoa Bowl       11.75
21                         Barbacoa Burrito        8.99
168                   Barbacoa Crispy Tacos       11.75
1229                    Barbacoa Salad Bowl       11.89
56                      Barbacoa Soft Tacos        9.25
34                            Bottled Water        1.09
445                                    Bowl       22.20
510                                 Burrito        7.40
18                              Canned Soda        2.18
263                       Canned Soft Drink        1.25
33                            Carnitas Bowl        8.99
27                         Carnitas Burrito        8.99
554                   Carnitas Crispy Tacos        9.25
3750                         Carnitas Salad        8.99
1132                    Carnitas Salad Bowl       11.89
237                     Carnitas Soft Tacos        9.25
4                              Chicken Bowl       16.98
16                          Chicken Burrito        8.49
11                     Chicken Crispy Tacos        8.75
250                           Chicken Salad       10.98
44                       Chicken Salad Bowl        8.75
12                       Chicken Soft Tacos        8.75
40                                    Chips        2.15
0              Chips and Fresh Tomato Salsa        2.39
10                      Chips and Guacamole        4.45
674       Chips and Mild Fresh Tomato Salsa        3.00
233      Chips and Roasted Chili Corn Salsa        2.95
191      Chips and Roasted Chili-Corn Salsa        2.39
38    Chips and Tomatillo Green Chili Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
520                            Crispy Tacos        7.40
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
1414                                  Salad        7.40
6                             Side of Chips        1.69
54                               Steak Bowl        8.99
7                             Steak Burrito       11.75
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
281                        Steak Salad Bowl       23.78
8                          Steak Soft Tacos        9.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
186                       Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25

### Step 6. Sort by the name of the item

In [48]:
chipo.item_name.sort_values #Method1 - sorts data for that column

chipo.sort_values(by='item_name') #Method2 - sorts table by that column

      order_id  ...  item_price
3389      1360  ...       12.98
341        148  ...        6.49
1849       749  ...        6.49
1860       754  ...        6.49
2713      1076  ...        6.49
3422      1373  ...        6.49
553        230  ...        6.49
1916       774  ...        6.49
1922       776  ...        6.49
1937       784  ...        6.49
3836      1537  ...        6.49
298        129  ...        6.49
1976       798  ...        6.49
1167       481  ...        6.49
3875      1554  ...        6.49
1124       465  ...        6.49
3886      1558  ...        6.49
2108       849  ...        6.49
3010      1196  ...        6.49
4535      1803  ...        6.49
4169      1664  ...        6.49
4174      1666  ...        6.49
4527      1800  ...        6.49
4522      1798  ...        6.49
3806      1525  ...        6.49
2389       949  ...        6.49
3132      1248  ...        6.49
3141      1253  ...        6.49
639        264  ...        6.49
1026       422  ...        6.49
...        ...  ...         ...
2996      1192  ...        8.49
3163      1263  ...        8.49
4084      1635  ...        8.49
1694       686  ...        8.49
2756      1094  ...        8.49
4201      1677  ...       11.25
1884       760  ...       11.25
455        195  ...       11.25
3223      1289  ...       11.25
2223       896  ...        8.75
2269       913  ...        8.75
4541      1805  ...        8.75
3293      1321  ...        8.75
186         83  ...       11.25
960        394  ...        8.75
1316       536  ...        8.75
2156       869  ...       11.25
4261      1700  ...       11.25
295        128  ...       11.25
4573      1818  ...        8.75
2683      1066  ...        8.75
496        207  ...       11.25
4109      1646  ...       11.25
738        304  ...       11.25
3889      1559  ...       16.98
2384       948  ...        8.75
781        322  ...        8.75
2851      1132  ...        8.49
1699       688  ...       11.25
1395       567  ...        8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [50]:
chipo.sort_values(by='item_price',ascending=False).head(1)

      order_id  quantity  ... choice_description item_price
3598      1443        15  ...                NaN      44.25

[1 rows x 5 columns]

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [54]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)
chipo_salad.count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times people orderd more than one Canned Soda?

In [58]:
chipo_drink = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink)

20