<a href="https://colab.research.google.com/github/meenalj/dsnoob/blob/master/Python_Data_structure_practice_MJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice questions to understand python data structures
https://www.w3resource.com/python-exercises/data-structures-and-algorithms/python-data-structure.php

In [0]:
import pandas as pd
import numpy as np



```
1. Write a Python program to create an Enum object and display a member name and value. Go to the editor
Sample data :
Afghanistan = 93
Albania = 355
Algeria = 213
Andorra = 376
Angola = 244
Antarctica = 672
Expected Output :
Member name: Albania
Member value: 355
```

Notes: An enumeration is a set of symbolic names (members) bound to unique, constant values. Within an enumeration, the members can be compared by identity, and the enumeration itself can be iterated over.

Enumerations are created using the class syntax, which makes them easy to read and write. An alternative creation method is described in Functional API. To define an enumeration, syntax is below

Even though we use the class syntax to create Enums, Enums are not normal Python classes. Having two enum members with the same name is invalid, however, they can have same value

In [3]:

from enum import Enum
class Country(Enum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    Antarctica = 672
print('Member name: {}'.format(Country.Albania.name))
print('Member value: {}'.format(Country.Albania.value))

Member name: Albania
Member value: 355

2. Write a Python program to iterate over an enum class and display individual member and their value. Go to the editor
Expected Output:
Afghanistan = 93
Albania = 355
Algeria = 213
Andorra = 376
Angola = 244
Antarctica = 672

In [4]:
for data in Country:
  print(data.name, data.value)

Afghanistan 93
Albania 355
Algeria 213
Andorra 376
Angola 244
Antarctica 672

3. Write a Python program to display all the member name of an enum class ordered by their values. Go to the editor
Expected Output:
Country Name ordered by Country Code:
Afghanistan
Algeria
Angola
Albania
Andorra
Antarctica

In [13]:
import enum
class Country(enum.IntEnum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    Antarctica = 672
for c in sorted(Country):
  print(c.name)

Afghanistan
Algeria
Angola
Albania
Andorra
Antarctica

4. Write a Python program to get all values from an enum class. Go to the editor
Expected output:
[93, 355, 213, 376, 244, 672]

In [20]:
for data in Country:
  print(data.value)

93
355
213
376
244
672

In [21]:
#or 
country_code_list = list(map(int, Country))
print(country_code_list)

[93, 355, 213, 376, 244, 672]

5. Write a Python program to count the most common words in a dictionary. Go to the editor
Expected Output:
[('pink', 6), ('black', 5), ('white', 5), ('red', 4)]
Click me to see the sample solution

In [28]:
words = [
   'red', 'green', 'black', 'pink', 'black', 'white', 'black', 'eyes',
   'white', 'black', 'orange', 'pink', 'pink', 'red', 'red', 'white', 'orange',
   'white', "black", 'pink', 'green', 'green', 'pink', 'green', 'pink',
   'white', 'orange', "orange", 'red'
]
from collections import Counter
word_counts=Counter(words)
print(word_counts)
top_four=word_counts.most_common(4)
print(top_four)

Counter({'pink': 6, 'black': 5, 'white': 5, 'red': 4, 'green': 4, 'orange': 4, 'eyes': 1})
[('pink', 6), ('black', 5), ('white', 5), ('red', 4)]

6. Write a Python program to find the class wise roll number from a tuple-of-tuples. Go to the editor
Expected Output:
defaultdict(, {'VII': [1], 'V': [1, 2], 'VI': [1, 2, 3]})
Click me to see the sample solution

In [44]:
from collections import defaultdict
classes = (
    ('V', 1),
    ('VI', 1),
    ('V', 2),
    ('VI', 2),
    ('VI', 3),
    ('VII', 1),
)

roll_no=defaultdict(list)

for class_name, roll_id in classes:
  roll_no[class_name].append(roll_id)
print(roll_no)

defaultdict(<class 'list'>, {'V': [1, 2], 'VI': [1, 2, 3], 'VII': [1]})

7. Write a Python program to count the number of students of individual class. Go to the editor
Sample data:
classes = (
('V', 1),
('VI', 1),
('V', 2),
('VI', 2),
('VI', 3),
('VII', 1),
)
Expected Output:
Counter({'VI': 3, 'V': 2, 'VII': 1})

In [48]:
from collections import Counter
students=Counter(class_name for class_name,student_no in classes)
print(students)

Counter({'VI': 3, 'V': 2, 'VII': 1})

8.Write a Python program to get the unique enumeration values. Go to the editor
Expected Output:
Afghanistan = 93
Albania = 355
Algeria = 213
Andorra = 376
Angola = 244

In [52]:
import enum
class Countries(enum.Enum):
    Afghanistan = 93
    Albania = 355
    Algeria = 213
    Andorra = 376
    Angola = 244
    India = 355
    USA = 213
for result in Countries:
    print('{:15} = {}'.format(result.name, result.value))

Afghanistan     = 93
Albania         = 355
Algeria         = 213
Andorra         = 376
Angola          = 244

9. Write a Python program to create an instance of an OrderedDict using a given dictionary. Sort the dictionary during the creation and print the members of the dictionary in reverse order. Go to the editor
Expected Output:
Angola 244
Andorra 376
Algeria 213
Afghanistan 93
Albania 355
In reverse order:
Albania 355
Afghanistan 93
Algeria 213
Andorra 376
Angola 244

In [63]:
from collections import OrderedDict
dict= {'Afghanistan': 93, 'Albania': 355, 'Algeria': 213, 'Andorra': 376, 'Angola': 244}
print(dict)
new_dict=OrderedDict(dict.items())
print('new_dict is',new_dict)

for key in new_dict:
  print(key,new_dict[key])
print('Reversed order Dict is ')
for key in reversed(new_dict):
    print(key,new_dict[key])

{'Afghanistan': 93, 'Albania': 355, 'Algeria': 213, 'Andorra': 376, 'Angola': 244}
new_dict is OrderedDict([('Afghanistan', 93), ('Albania', 355), ('Algeria', 213), ('Andorra', 376), ('Angola', 244)])
Afghanistan 93
Albania 355
Algeria 213
Andorra 376
Angola 244
Reversed order Dict is
Angola 244
Andorra 376
Algeria 213
Albania 355
Afghanistan 93

10. Write a Python program to group a sequence of key-value pairs into a dictionary of lists. Go to the editor
Expected output:
[('v', [1, 3]), ('vi', [2, 4]), ('vii', [1])]

In [71]:
from collections import defaultdict
class_1 = [('v', 1), ('vi', 2), ('v', 3), ('vi', 4), ('vii', 1)]
d=defaultdict(list)
print(d)
for a,b in class_1:
  d[a].append(b)
print(d)

defaultdict(<class 'list'>, {})
defaultdict(<class 'list'>, {'v': [1, 3], 'vi': [2, 4], 'vii': [1]})
[('v', [1, 3]), ('vi', [2, 4]), ('vii', [1])]

11. Write a Python program to compare two unordered lists (not sets). Go to the editor
Expected Output: False

In [74]:
from collections import Counter
def compare_list(x,y):
  return Counter(x)==Counter(y)
n1 =[10,25,37,81,42,90]
n2 =[10,25,37,81,42,90]
#n2=[42,10,27,31,55]
print(compare_list(n1,n2))

True

12. Write a Python program to create an array contains six integers. Also print all the members of the array. Go to the editor
Expected Output:
10
20
30
40
50

In [77]:
from array import array
my_array = array['i',[10,20,30,40,50,60]]
for i in my_array:
  print(i)

TypeError: ignored