<a href="https://colab.research.google.com/github/meenalj/dsnoob/blob/master/PythonBasicsPracticeQuestions_solved_MJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://www.insaid.co/wp-content/uploads/2018/04/INSAID_Logo-1.png' height="240" width="360"/>
<br/>
# Python basics

### 1.Write a Python program to print the following string

Sample String: "Welcome to INSAID- International School of AI and Data Science"

In [0]:
print("Welcome to INSAID- International School of AI and Data Science")

Welcome to INSAID- International School of AI and Data Science

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [0]:
# Print “Hello, World!” to console
var= 'Hello, World!'
print(var)

Hello, World!

In [0]:
# Define sharks variable as a list of strings ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')
sharks= ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')
print(sharks)
print('Doing this one at a time')
for i in sharks:
  print(i)
  

# For loop that iterates over sharks list and prints each string item

('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')
Doing this one at a time
hammer
white
fish
frilled
bullhead
requiem

### 2.Write a Python Program to Add Two Numbers

In [0]:
# initialise two varaibles
a=5
b=10

# Add two numbers
sum=(a+b)

# Display the sum
print(sum)

15

### 3.Write a Python Program to Find the product of two numbers

In [0]:
# initialise two varaibles

a=5
b=10

# multiply two numbers

product = a*b
# Display the sum
print(product)

50

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [0]:
# Area of the triangle A= 1/2(base * height)
base=10
height=3
area = 1/2*(base*height)
#given height=3 and base =10
print('Area of the triangle is', area)

Area of the triangle is 15.0

### 5.Python Program to Swap Two Variables

In [0]:
# initialise two varaibles
a=15
b=25
print('value of a and b are {} and {}'.format(a,b))
c=a
a=b
b=c
print('value of a and b are {} and {}'.format(a,b))

# create a temporary variable and swap the values

value of a and b are 15 and 25
value of a and b are 25 and 15

## Section

### 1.Write a python program to print datatype of a varaible

In [0]:
a = 1


b = 2.0


c = 1+2j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

### 2.Write a python program to extract an item or a range of items from a list.

In [0]:
a = [15,20,35,40,45,30,35,60]

# Print the item at index 2
print(a[2])
# Print the first 3 items
print(a[0:3])
# Print the last 3 items
print(a[5:8])
# Start to third last item
print(a[0:6])

35
[15, 20, 35]
[30, 35, 60]
[15, 20, 35, 40, 45, 30]

### 3.Converting Floats to Integers

In [0]:
b = 125.0
c = 390.8

# Print the Integer values
print(type(b))
print(type(c))
b=int(b)
c=int(c)
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'int'>
<class 'int'>

### 4.Converting Numbers to Strings

In [0]:
a = 10

print(a, "is of type", type(a))

a=str(a)

print(a, "is of type", type(a))
# Convert the value in a to a string and then print

10 is of type <class 'int'>
10 is of type <class 'str'>

### 5.Converting Strings to Numbers

In [0]:
a = "50"
b = "108"

a=int(a)
b=int(b)
diff = a-b
print(diff)
# Find the difference between a and b

-58

### 6.Converting list to Tuples

In [0]:
myList = ['request', 'source', 'repository', 'branch']

# Print myList to a Tuple
myTuple=tuple(myList)
print(myTuple)

('request', 'source', 'repository', 'branch')

### 7.Converting tuple to Lists

In [0]:
myTuple = ('blue', 'red', 'white')

# Print myTuple to a List
myList=list(myTuple)
print(myList)

['blue', 'red', 'white']

### 8.converting strings to lists:

In [0]:
myString = 'INSAID'

# Convert myString to List
myList=list(myString)
print(myList)

['I', 'N', 'S', 'A', 'I', 'D']

### 9.Assign different data types to a varibles

In [0]:
# Try string, float, boolean, list, tuple, dictionary

## Section

### Print out a string that uses a formatter

In [0]:
# Print "john has 5 cars." using formatter
print('John has {} cars'.format(5))

John has 5 cars

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [0]:
open_string = "john likes {}."

# Use format method to print the following output "john likes open source."
print(open_string.format('open source'))

john likes open source.

### Using Formatters with Multiple Placeholders

In [0]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
# Pass 2 strings into format method, separated by a comma to get output "john likes open-source software."
print(new_open_string.format('open-source','software'))

john likes open-source software.

In [0]:
sammy_string = "john loves {} {}, and has {} {}."                      #4 {} placeholders
# Pass 4 strings into method to get output "john loves open-source software, and has 5 balloons."
print(sammy_string.format('open-source','software',5,'balloons'))

john loves open-source software, and has 5 balloons.

### Reordering Formatters with Positional and Keyword Arguments

In [0]:
# Reference sample
print("john the {} has a pet {}!".format("shark", "pilot fish"))
print("john the {} has a pet {}!".format("shark", "pilot fish"))

john the shark has a pet pilot fish!
john the shark has a pet pilot fish!

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [0]:
# Reference Sample
print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

print("john is a {}, {}, and {} {}!".format("happy", "smiling", "blue", "shark"))

john the shark has a pet pilot fish!
john is a happy, smiling, and blue shark!

### Python Program to Get String Input from User

In [0]:
#Enter any string and print it
inputstring=input('What is it that you want to say?')
print(inputstring)

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [0]:
grade = 70
print(type(grade))
if grade > 65:
  print('Grade-Passed')
else:
  print('Grade - Failed')

In [0]:
# Use only if
grade = 60
if grade > 65:
  print('Grade-Passed')
else:
  print('Grade - Failed')

### Write a python program calculate whether a bank account balance is below 0 and print appropriate message.

In [0]:
# Use if else
balance = 522
if balance<0:
  print('Negative balance')
else:
  print('POsitive balance')

### Using Else if statement

In [0]:
balance = 522

if balance<0:
  print('Negative balance')
elif balance>0:
  print('POsitive balance')

### Python program to print  Fibonacci series between 0 to 50.

In [0]:
n=50
a=0
b=1
count=1

print('Fibonacci series between 0 and 50 terms is:')
while count <n:
  print (a,end=",")
  nth=a+b
  a=b
  b=nth
  count=count+1
n=50
a=0
b=1
count=1


print('\n Fibonacci series between 0 and 50  is:')
while (a+b) <n:
  print (a,end=",")
  nth=a+b
  a=b
  b=nth
  count=count+1

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

In [0]:
for number in range (150,270):
  if number %7==0 and number %5==0:
     print(number)

### Python program to Sum all the items in a list

In [0]:
def sum_list(items):
    sum_total=0
    for x in items:
      sum_total=sum_total+x
    return sum_total
print(sum_list([20,12,20,22]))

### Python program to Remove duplicates from a list.

In [0]:
a = [10,20,30,40,50,60,40,70,30,80,50,40,120,50,30,20]
dup_items = set()
uniq_items = []
for x in a:
  if x not in dup_items:
    uniq_items.append(x)
    dup_items.add(x)
print(dup_items)

### Python program to Get the largest number from a list.

In [0]:
def max_num_in_list( list ):
    max_num=list[0]
    for a in list:
      if a>max_num:
          max_num=a
    return max_num
print(max_num_in_list([1, 12, 28, 0]))

### Concatenation of Tuples.

In [0]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
 
# Concatenating above two
print(tuple1+tuple2)

### Nesting of Tuples.

In [0]:
# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3  =(tuple1,tuple2)
print(tuple3)

### Write a Python program to add an item in a tuple.

In [0]:
# Create a tuple & print
tuple1=(1,2,3,5,7,9)
print(tuple1)
#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuple1=tuple1[:6]+(27,28,29)
# Adding items in a specific index
print(tuple1)

### Write a Python program to remove an item from a tuple.

In [0]:
# Create a tuple and print it
tuple2=(1,2,3,4,5,6)
list2=list(tuple2)
# Find a way to remove an item of the tuple (Hint: Use other data types)
list2.remove(3)
tuple2=list2
print(tuple2)

### Python Program to Check if a given key already exists in a dictionary.

In [0]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  if x in d:
    print('Key is present',x) 
  else:
    print('Key is not present',x)  
  return x
is_key_present(5)
is_key_present(9)

### Write a Python script to merge two Python dictionaries.

In [0]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d3=d1.copy()
d3.update(d2)
print(d3)
# Your code

### Write a Python function to find the Max of three numbers.

In [0]:
def max_of_two( x, y ):
    if x > y:
         return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
    
print(max_of_three(13, 26, -5))

### Write a Python program to reverse a string.

In [0]:
def string_reverse(str1):
    reverse_string=''
    index=len(str1)
    while index >0:
      reverse_string+=str1[index-1]       #reverse_string=reverse_string+str1[index-1]
    return reverse_string
print(string_reverse('INSAID'))

### Write a Python function to calculate the factorial of a number

In [0]:
def factorial(n):
    # Your code here
    return # The answer
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

### Write a Python function to sum all the numbers in a list.

In [0]:
def sum(numbers):
    # Your code goes here
    return # Your Answer
print(sum((8, 2, 3, 0, 7)))

### Write a Python function to check whether a number is in a given range.

In [0]:
def test_range(n):
    # Your code
    return # Your answer 
test_range(5)

### Find the value of pi using math module.

In [0]:
# import statement example
# to import standard module math

import math

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [0]:
def file_read(fname):
    # Your code goes in here
    return

file_read('test.txt')

### Write a Python program to read a file line by line and store it into a list.

In [0]:
def file_read(fname):
        # Your code goes in here
        return

file_read('test.txt')

### A python program to create user-defined exception.

In [0]:
class MyError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return # Your code goes here to get -> 'A New Exception occured: 0.42857142857142855'
 
try:
    raise(MyError(3/7))
 
except MyError as error:
    print(error)

### Write a Python program to calculate the discriminant value. (b <sup>2</sup> - 4ac)

In [0]:
def discriminant():
    a_value = float(input('The a value: '))
    b_value = float(input('The b value: '))
    c_value = float(input('The c value: '))
    
    # Calculate the discriminant here
    
    return # The value


discriminant()

In [0]:
print('Hello World')

In [0]:
print('What am I typing are you able to see?')