<a href="https://colab.research.google.com/github/meenalj/dsnoob/blob/master/Chipotle_Exercises_and_Solutions_MJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [0]:
import pandas as pd
import numpy as np

In [0]:
address='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [65]:
print address

https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

Read_csv is the command used to read the dataset. Has to be prefixed with pd - shortcut for pandas

### Step 3. Assign it to a variable called chipo.

In [0]:
chipo =pd.read_csv(address,sep='\t')

### Step 4. See the first 10 entries

First 10 - > Similar to unix -> head

In [67]:
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

### Step 5. What is the number of observations in the dataset?

Use shape - shape is a tuple that gives dimensions of the array.. shape is a tuple that gives you an indication of the number of dimensions in the array.

In [68]:
# Solution 1
chipo.shape[0]

4622

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.
Use Info to get details around this

In [94]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [70]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [71]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [72]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

The logic here is, pick item, figure out total quantity using group by, sort by quantity descending which gives maximum quantity of an item ordered, pick top record

In [73]:
c=chipo.groupby('item_name')
print c
c=c.sum()
print c
print('Lets try sorting this')
c = c.sort_values(['quantity'], ascending=False)
print c
print("The most ordered item is",c.head(1))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f45cf9dea10>
                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8
Lets try sorting this
                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1
('The most ordered item is',               order_id  quantity
item_name
Chicken Bowl    713926       761)

### Step 10. For the most-ordered item, how many items were ordered?

In [35]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [43]:
c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

Treat chipo as table, quantity as column, sum() -> calculation

In [61]:
total_items_ordered=chipo.quantity.sum()
print('Total items ordered overall', total_items_ordered)

('Total items ordered overall', 4972)

### Step 13. Turn the item price into a float

This is essentially changing data type
Step 1- Check the data type
Step 2- Change the data type
> Indented block

#### Step 13.a. Check the item price type

In [95]:
chipo.item_price.dtype

dtype('O')

Simpler way to do this ->chipo['item_price']=chipo.item_price.astype(float)
does not work because there's a $ in the data, so remove it

In [88]:
a=chipo['item_price']
a
chipo['item_price']=chipo.item_price.str.replace('$','').astype(float)

AttributeError: ignored

In [92]:
chipo.item_price.dtype
chipo.dtypes
a=chipo['item_price']
a

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

This means (Python) objects. Essentially like an excel cell that can be number or text, not defined is what I'm assuming

***Remembering what I forgot***

Lambda expression definition:
In the simple terms, lambda expression is anonymous function that can be passed around to method as a parameter, can be stored in variable and also can return a result.
Anonymous because it does not have a declared name
Function because its more like function equipped with list of parameters, expression body and return value etc.
Lambda expression has Three parts:
1. Parameter List e.g. (Book b1, Book b2), if no parameters then empty parentheses.
2. Arrow compose of two - and > character
3. Body e.g. Double.compare(b1.getPrice(), b2.getPrice())

When body of lambda expression consist of multiple statement then encapsulate the body with {} brackets, like this:
(parameters) -> {
     statements1;
     statements2;
               }

#### Step 13.b. Create a lambda function and change the type of item price

In [0]:
typechanger = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(typechanger)

What this did was, strip the first element $ and then changed type to float - or atleast that is what I think happened

In [100]:
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [97]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [109]:
chipo.dtypes
revenue =(chipo['quantity']*chipo['item_price']).sum()
revenue
print('The total revenue for the dataset is $',revenue)
#print('The total revenue for the dataset is $'+revenue) #TypeError: cannot concatenate 'str' and 'numpy.float64' objects
print('The total revenue for the dataset is $'+str(revenue))  ###This one works

('The total revenue for the dataset is $', 39237.02)
The total revenue for the dataset is $39237.02

### Step 15. How many orders were made in the period?

In [115]:
chipo.columns
chipo.dtypes
total_orders = chipo['order_id'].count()
total_orders
print('The total orders placed are',total_orders)

('The total orders placed are', 4622)

### Step 16. What is the average revenue amount per order?

In [122]:
# Solution 1
## add revenue for each row
chipo.columns
chipo['revenue']=chipo['quantity']*chipo['item_price']
##print chipo['quantity'],chipo['item_price'],chipo['revenue']
revenue_per_order = chipo.groupby(by=['order_id']).sum()  ##sum of revenue per order
revenue_per_order
revenue_per_order.mean()
revenue_per_order.mean()['revenue']

21.394231188658654

In [124]:
# Solution 2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [127]:
chipo.item_name.value_counts
chipo.item_name.value_counts().count()

50